/*

!.gitignore
!.travis.yml
!CHANGELOG.md
!README.md
!LICENSE
!checkstyle.xml
!pom.xml
!settings.gradle
!build.gradle

!art/

!library/
library/*
!library/src/
!library/res/
!library/AndroidManifest.xml
!library/pom.xml
!library/build.gradle

!samples/
samples/*
!samples/src/
!samples/res/
!samples/libs/
!samples/AndroidManifest.xml
!samples/pom.xml
